doctype 5
html
  head
    title Book's App
    link(rel='stylesheet', href='/css/style.css')
    //- Vendors
    script(type="text/javascript", src="/js/vendor/underscore/underscore.js")	
    script(type="text/javascript", src="/js/vendor/jquery/jquery.js")	
    script(type="text/javascript", src="/js/vendor/backbone/backbone.js")	

    script(type="text/javascript", src="/js/books.js")
  body
    block content